@charset "utf-8";

#contenedor {
  background: transparent;
  background-image: url(../img/18Sept/guasa2.png), url(../img/18Sept/guaso2.png),
    url(../img/18Sept/18_fondo.jpg);
  background-position: left bottom, right bottom, center top;
  background-size: 50vh, 50vh, cover;
  background-repeat: no-repeat, no-repeat;
}

header {
  border-color: lightskyblue;
  background-color: midnightblue;
  border-bottom: 0px;

  & > h1 {
    color: #ffffff;
    text-shadow: 0px 0px 2px rgb(0, 0, 0);
  }
}

footer {
  border-color: red;
  border-top: 0px;
  background-color: indianred;
}

#Content_Main {
  background-color: rgba(255, 255, 255, 0.8);
  border-color: lightskyblue;
}

[id|="Subtitles"] {
  color: rgb(0, 0, 0);
  text-shadow: 0px 0px 1px lightskyblue;
}

#Items_Box-Answer {
  background-color: lightcoral;
  border-color: red;

  & .Texto_Items-Answer-1 {
    color: white;
    text-shadow: 0px 0px 2px black;
  }

  & .Texto_Items-Answer-2 {
    color: white;
    text-shadow: 0px 0px 2px black;
  }
}

#Denominacion_Modal-Content {
  border-color: skyblue;
  background-color: white;
  box-shadow: 0px 0px 20px 10px cornflowerblue;
}

#Denominacion_Header {
  background-color: lightskyblue;
  box-shadow: inset 0px 0px 20px cornflowerblue;
  border-bottom-color: skyblue;
}

#Header_Denominacion {
  text-shadow: 0px 0px 2px cornflowerblue;
  color: midnightblue;
}

#Close_Denominacion {
  background-color: rgba(255, 255, 255, 0.5);
  color: midnightblue;
  border-left-color: skyblue;

  &:is(:hover, :focus) {
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.5);
    border-left-color: skyblue;
  }
}

.Box_Denominacion {
  background-color: lightcoral;
  border-color: indianred;
  box-shadow: 0px 0px 5px 2px red;

  [id|="Radio"]:checked + & {
    background-color: cornflowerblue;
    border-color: blue;
    box-shadow: 0px 0px 5px 2px lightblue;
  }

  [id|="Radio"]:is(:hover, :focus) + & {
    background-color: #ebebeb;
    border-color: #657e96;
    box-shadow: 0px 0px 5px 2px #8da2b5;
  }
}

.Texto_Radio {
  color: white;
  text-shadow: 0px 0px 1px black;

  [id|="Radio"]:checked + .Box_Denominacion & {
    color: white;
    text-shadow: 0px 0px 2px black;
  }

  [id|="Radio"]:is(:hover, :focus) + .Box_Denominacion & {
    color: black;
    text-shadow: 0px 0px 1px white;
  }
}
