@charset "utf-8";

#contenedor {
  background: transparent;
  background-image: url(../img/asebabd/Screenshot2024662085038850.jpg);
  background-position: center top;
  background-size: cover;
}
footer {
  display: none;
}

#Content_Main {
  padding: 10px 10px 20px;
  border-bottom-width: 3px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
