@charset "utf-8";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: Arial, sans-serif;
}

input[type="number"],
input[type="text"] {
  -moz-appearance: textfield;
  appearance: textfield;
  display: inline;
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
  background: transparent;
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: var(--font-family, Arial);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="radio"],
input[type="checkbox"] {
  display: none;
}

body {
  background: #ebebeb;
}
.container {
  display: grid;
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 0;
  place-content: center;
  place-items: start;
  background-color: transparent;
}

[class|="Box"] {
  display: block;
  width: 570px;
  height: fit-content;
  overflow: hidden;
  border-width: 3px;
  border-style: solid;
  border-color: #0dbc79;
  background-color: rgba(255, 255, 255, 0.8);

  &[class$="Header"] {
    height: 50px;
    padding: 10px 0px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background-color: #7af0c3;
  }

  &[class$="Main"] {
    border-top-width: 0px;
    border-bottom-width: 0px;
  }

  &[class$="Footer"] {
    height: 50px;
    padding: 10px 0px;
    background-color: #7af0c3;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
  }
}

#Content_Main {
  display: grid;
  place-content: center;
  place-items: center;
  padding: 5px 10px 15px;
  row-gap: 5px;
  column-gap: 44px;
  grid-template-columns: repeat(2, 250px);
  grid-template-rows: repeat(2, min-content);
  grid-template-areas:
    "A1 A2"
    "A3 A3";

  & #Box_Item-1 {
    grid-area: A1;
  }

  & #Box_Item-2 {
    grid-area: A2;
  }

  & #Box_Item-3 {
    grid-area: A3;
  }
}

#Items_Titles {
  text-align: center;
  overflow: hidden;
  font-size: 2.8rem;
  font-weight: bold;
  font-family: inherit;
  color: #2c8121;
}

fieldset {
  border: 0px solid;
  margin: 0px;
  padding: 0px;
}

[id|="Subtitles"] {
  text-align: center;
  font-size: 2.8rem;
  font-weight: bold;
  font-family: inherit;
  color: rgb(0, 0, 0);
  text-shadow: 0px 0px 1px white;
}

[class|="Texto_Items"] {
  font-size: 2.8rem;
  font-weight: bold;
  font-family: inherit;
  color: midnightblue;
  text-shadow: 0px 0px 2px rgb(255, 255, 255);

  &[class$="Answer-1"] {
    font-size: 1em;
  }

  &[class*="Answer"]::before {
    content: "$";
  }
}

.small-sup {
  vertical-align: top;
  font-size: 0.6em;
}

[id|="Items_Box"] {
  position: relative;
  text-align: center;
  flex-direction: row;
  width: 250px;
  display: flex;
  border: 2px solid;
  background-color: lightskyblue;
  border-color: cornflowerblue;
  overflow: hidden;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;

  &:is(:hover, :focus) {
    background-color: #4dcaff;
  }

  &[id$="Answer"] {
    flex-direction: column;
    --border-color: cornflowerblue;
    border-color: var(--border-color);
  }
}

[id|="Items"] {
  display: block;
  flex-grow: 1;
  flex-shrink: 1;

  #Items_Box-Input & {
    --border-color: cornflowerblue;
  }

  &[id$="Input"] {
    border-right: 1px solid;
    border-right-color: var(--border-color);
  }

  &[id$="Select"] {
    padding: 4px;

    &::before {
      content: "$";
      display: block;
      position: absolute;
    }

    &::after {
      content: "▼";
      display: block;
      position: absolute;
      top: 12px;
      right: 0px;
      width: 32px;
      font-size: 1.6rem;
      color: inherit;
    }

    &:is(:hover, :focus)::after {
      color: darkred;
    }
  }

  &[id*="Answer"] {
    background-color: #a7aaf9;
    padding: 4px;

    &[id$="1"] {
      text-align: left;
      font-size: 1.7rem;
      border-bottom: 1px solid;
      border-bottom-color: var(--border-color);
    }

    &[id$="2"] {
      font-size: 2.8rem;
      border-top: 1px solid;
      border-top-color: var(--border-color);
    }
  }
}

#Input_Peso {
  padding: 4px;

  &::placeholder {
    color: rgb(128, 128, 128);
  text-shadow: 0 0 2px white;
  }
}

#Items-Unidad {
  padding: 4px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 34px;
  border-left: 1px solid;
  border-left-color: var(--border-color);
}

#Items_Box-Answer {
  --border-color: #898eef;
  border-color: var(--border-color);
}
.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  place-content: center;
  align-items: start;
  justify-items: center;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  border: 3px solid;
}

.modal-titles {
  display: flex;
  flex-direction: row;
  border-bottom: 3px solid;

  & > span {
    display: block;
    font-size: 2.8rem;
    padding: 5px;
    font-weight: bolder;
  }
}

.modal-header {
  flex-grow: 1;
  flex-shrink: 1;
}

.modal-close {
  flex-grow: 0;
  flex-shrink: 0;
  border-left: 3px solid;
}

.modal-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

#Denominacion_Modal-Content {
  width: 100%;
  min-width: 300px;
  overflow: hidden;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-color: #0dbc79;
  background-color: #93adba;
  background-image: radial-gradient(#bdd8df, transparent);
}

#Denominacion_Header {
  background-color: #0df89e;
  border-bottom-color: #0dbc79;
}

#Header_Denominacion {
  text-align: center;
  color: #1a6410;
}

#Close_Denominacion {
  text-align: left;
  flex-basis: 45px;
  background-color: rgba(255, 255, 255, 0.5);
  color: #2c8121;
  border-left-color: #0dbc79;

  &:is(:hover, :focus) {
    text-decoration: none;
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.5);
    border-left-color: #0dbc79;
  }
}

#Items_Denominacion {
  padding: 20px;
}

.Box_Denominacion {
  display: block;
  width: 200px;
  height: fit-content;
  cursor: pointer;
  border: 2px solid;
  border-color: indianred;
  background-color: #ffcb85;
  overflow: hidden;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;

  [id|="Radio"]:checked + & {
    background-color: #ebebeb;
    border-color: #93adba;
  }

  [id|="Radio"]:is(:hover, :focus) + & {
    background-color: #9a9eff;
    border-color: darkorchid;
  }
}

[id|="Denominacion"] {
  width: 100%;
  height: fit-content;
  padding: 4px;
  text-align: center;
  border-bottom: 2px solid;
  border-bottom-color: indianred;
  background-color: rgba(0, 0, 0, 0.1);

  [id|="Radio"]:checked + .Box_Denominacion & {
    border-bottom-color: #8b6fd1;
  }

  [id|="Radio"]:is(:hover, :focus) + .Box_Denominacion & {
    border-bottom-color: #93adba;
  }
}

.Texto_Radio {
  font-size: 2.8rem;
  font-family: inherit;
  font-weight: bold;
  color: black;

  &::before {
    content: "$";
  }

  [id|="Radio"]:checked + .Box_Denominacion & {
    color: white;
  }

  [id|="Radio"]:is(:hover, :focus) + .Box_Denominacion & {
    color: black;
  }
}

[id|="Moneda"] {
  aspect-ratio: 1 / 1;
  width: 49%;
  display: inline;
  padding: 5px;
}
