@charset "utf-8";

#contenedor {
  background: transparent;
  background-image: url(../img/emily/emily1.webp),
    url(../img/emily/marco1.webp),
    url(../img/emily/marco2.webp),
    url(../img/emily/marco3.webp),
    url(../img/emily/marco4.webp),
    url(../img/emily/marco5.webp),
    linear-gradient(135deg,
      transparent 0%,
      transparent 20%,
      #8d9bc3 20%,
      #8d9bc3 30%,
      transparent 30%,
      transparent 70%,
      #8d9bc3 70%,
      #8d9bc3 80%,
      transparent 80%,
      transparent 100%),
    linear-gradient(135deg, #bbbbbb 0%, #ebebeb 50%, #bbbbbb 100%);
  background-position:right 10px center, left -10px center, left 23% top -6px, left 23% bottom -10px, right 25% top, right 23% bottom, left top, left top;
  background-size: contain, 23%, 17%, 17%, 17%, 17%, 50px 50px, 100%;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, repeat, no-repeat;
}

header {
  border-color: #9C5B3F;
  background-color: #9C5B3F;

  &>h1 {
    color: white;
    text-shadow: 0px 0px 2px black;
  }
}

footer {
  border-color: #9C5B3F;
  background-color: #9C5B3F;
  background-image: url(../img/emily/name.webp);
  background-position: right 20px center;
  background-repeat: no-repeat;
}

#Content_Main {
  border-color: #9C5B3F;
}
[id|="Subtitles"] {
  color: #9C5B3F;
  text-shadow: 0px 0px 2px white;
}

#Content_Main {
  border-color: #9C5B3F;
}

#Items_Box-Input {
  background-color: #E6C59C;
  border-color: #C08460;

  &:is(:hover, :focus) {
    background-color: #ddb98d;
  }

  & #Input_Peso {
    &::placeholder {
      color: #C08460;
      text-shadow: 0 0 2px white;
    }
  }

  & .Texto_Items-Input {
    color: black;
    text-shadow: 0px 0px 1px white;
  }
}

#Items_Box-Select {
  background-color: #E6C59C;
  border-color: #C08460;

  &:is(:hover, :focus) {
    background-color: #ddb98d;
  }

  & .Texto_Items-Select {
    color: black;
    text-shadow: 0px 0px 1px white;
  }
}
#Items_Box-Answer {
  background-color: #C08460;
  border-color: #9C5B3F;

  & .Texto_Items-Answer-1 {
    color: white;
    text-shadow: 0px 0px 1px black;
  }

  & .Texto_Items-Answer-2 {
    color: white;
    text-shadow: 0px 0px 1px black;
  }
}

#Denominacion_Modal {
  background-color: rgb(0, 0, 0, 0.8);
  background-image: url(../img/emily/emily2.webp),
  linear-gradient(
      135deg,
      rgba(187, 187, 187, 0.5) 0%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(187, 187, 187, 0.5) 100%
    );
  background-size: 25%, 100%;
  background-repeat: no-repeat, no-repeat;
  background-position: left bottom, left top;
}

#Denominacion_Modal-Content {
  border-color: #9C5B3F;
  background-image: radial-gradient(white, #E6C59C);
}

#Denominacion_Header {
  border-color: #9C5B3F;
  background-color: #9C5B3F;
}

#Header_Denominacion {
  text-shadow: 0px 0px 2px black;
  color: white;
}

#Close_Denominacion {
  text-shadow: 0px 0px 2px white;
  color: white;
  border-left-color: #9C5B3F;
  background-color: #9C5B3F;

  &:is(:hover, :focus) {
    color: rgb(255, 255, 255);
    border-left-color: #9C5B3F;
  }
}

.Box_Denominacion {
  background-color: #C08460;
  border-color: #9C5B3F;

  [id|="Radio"]:checked+& {
    background-color: #9C5B3F;
    border-color: #6d3c27;
  }

  [id|="Radio"]:is(:hover, :focus)+& {
    background-color: #E6C59C;
    border-color: #C08460;
  }
}

.Texto_Radio {
  color: white;
  text-shadow: 0px 0px 1px #6d3c27;

  [id|="Radio"]:checked+.Box_Denominacion & {
    color: #F0D9C2;
    text-shadow: 0px 0px 1px #6d3c27;
  }

  [id|="Radio"]:is(:hover, :focus)+.Box_Denominacion & {
    color: #6d3c27;
    text-shadow: 0px 0px 1px #F0D9C2;
  }
}