@charset "utf-8";

/* ------------------------------------------------------------------- */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  font-family: var(--font-family, Arial);
}

body{
  background-color: white;
}

input[type="number"],
input[type="text"] {
  -moz-appearance: textfield;
  appearance: textfield;
  display: inline;
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
  background: transparent;
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: var(--font-family, Arial);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="radio"],
input[type="checkbox"] {
  display: none;
}

/* ------------------------------------------------------------------- */

.Radious-Content {
  overflow: hidden;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.Radious-Items {
  overflow: hidden;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

/* ------------------------------------------------------------------- */

#Container_Grid {
  display: grid;
  width: 100vw;
  height: 100vh;
  place-content: center;
  place-items: center;
}

/* ------------------------------------------------------------------- */
#Section_Grid-Content {
  width: 570px;
  height: 278px;
  border-width: 3px;
  border-style: solid;
  display: grid;
  place-content: center;
  place-items: center;
  row-gap: 5px;
  column-gap: 34px;
  padding: 15px;
  grid-template-columns: repeat(2, minmax(200px, 250px));
  grid-template-rows: repeat(6, fit-content);
  grid-template-areas:
    "Header Header"
    "A1 A2" "A3 A4"
    "A5 A5" "A6 A6"
    "Footer Footer";
}

#Box_Item-Header { grid-area: Header; }

#Box_Item-1 { grid-area: A1; }

#Box_Item-2 { grid-area: A2; }

#Box_Item-3 { grid-area: A3;}

#Box_Item-4 { grid-area: A4;}

#Box_Item-5 { grid-area: A5;}

#Box_Item-6 { grid-area: A6;}

#Box_Item-Footer { 
  grid-area: Footer;
  display: none;
}

/* ------------------------------------------------------------------- */

#Items_Titles {
  width: fit-content;
  height: fit-content;
  padding: 1px 4px;
  border: 2px solid;
  text-align: center;
  background-color: lightgrey;
  border-color: darkgrey;
}

.Text_Titles {
  font-size: 2.8rem;
  font-weight: bold;
  font-family: inherit;
}

/* ------------------------------------------------------------------- */
[id|="Items_Texto"] {
  display: block;
  width: 250px;
  height: fit-content;
  padding: 0px;
  text-align: center;
}

[class|="Subtitles"] {
  font-size: 2.8rem;
  font-weight: bold;
  font-family: inherit;
}

/* ------------------------------------------------------------------- */

[class|="Texto_Items"] {
  font-size: 2.8rem;
  font-weight: bold;
  font-family: inherit;
}

.small-sup {
  vertical-align: top;
  font-size: 0.6em;
}

/* ------------------------------------------------------------------- */

[id|="Items_Box"] {
  position: relative;
  text-align: center;
  flex-direction: row;
  width: 250px;
  display: flex;
  border: 2px solid;
  background-color: lightgrey;
  border-color: darkgrey;
}

[id|="Items_Box"]:hover,
[id|="Items_Box"]:focus {
  background-color: rgba(0, 0, 0, 0.15);
}

[id|="Items"] {
  display: block;
  flex-grow: 1;
  flex-shrink: 1;
}

/* ------------------------------------------------------------------- */

#Items_Box-Input [id|="Items"] {
  --border-color: darkgrey;;
}

#Items-Input {
  border-right: 1px solid;
  border-right-color: var(--border-color);
}

#Input_Peso {
  padding: 4px;
}

#Input_Peso::placeholder {
  color:grey;
}

#Items-Unidad {
  padding: 4px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 34px;
  border-left: 1px solid;
  border-left-color: var(--border-color);
}

/* ------------------------------------------------------------------- */

#Items-Select {
  padding: 4px;
}

#Items-Select::before {
  content: "$";
  display: block;
  position: absolute;
}

#Items-Select::after {
  content: "▼";
  display: block;
  position: absolute;
  top: 12px;
  right: 0px;
  width: 32px;
  font-size: 1.6rem;
}

/* ------------------------------------------------------------------- */

#Items_Box-Answer {
  flex-direction: column;
  --border-color: darkgrey;
  border-color: var(--border-color);
}

[id|="Items-Answer"] {
  background-color: lightgrey;
  padding: 4px;
}

#Items-Answer-1 {
  text-align: left;
  font-size: 1.7rem;
  border-bottom: 1px solid;
  border-bottom-color: var(--border-color);
}

#Items-Answer-2 {
  border-top: 1px solid;
  border-top-color: var(--border-color);
}

.Texto_Items-Answer-1 {
  font-size: 1em;
}

[id|="Answer"]::before {
  content: "$";
}

/* ------------------------------------------------------------------- */

.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  justify-content: center;
  place-items: center;
  overflow: auto;
}

.modal-content {
  border: 3px solid;
}

.modal-titles {
  display: flex;
  flex-direction: row;
  border-bottom: 3px solid;
}

.modal-titles > span {
  display: block;
  font-size: 2.8rem;
  padding: 5px;
  font-weight: bolder;
}
.modal-header {
  flex-grow: 1;
  flex-shrink: 1;
}

.modal-close {
  flex-grow: 0;
  flex-shrink: 0;
  border-left: 3px solid;
}
.modal-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
/* ------------------------------------------------------------------- */

#Denominacion_Modal-Content {
  width: 100%;
  min-width: 300px;
  background-color: grey;
}

/* ------------------------------------------------------------------- */

#Denominacion_Header {
  background-color: lightgrey;
}

#Header_Denominacion {
  text-align: center;
}

#Close_Denominacion {
  text-align: left;
  flex-basis: 45px;
  background-color: white;
}

#Close_Denominacion:hover,
#Close_Denominacion:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
  border-left-color: black;
  background-color: black;
}
/* ------------------------------------------------------------------- */
#Items_Denominacion {
  padding: 20px;
}
/* ------------------------------------------------------------------- */
.Box_Denominacion {
  display: block;
  width: 200px;
  height: fit-content;
  border: 2px solid;
  border-color: darkgrey;
  background-color: lightgrey;
}
[id|="Radio"]:checked + .Box_Denominacion {
  background-color: white;
  border-color: lightgrey;
}
[id|="Radio"]:hover + .Box_Denominacion,
[id|="Radio"]:focus + .Box_Denominacion {
  background-color: darkgray;
  border-color: black;
}
/* ------------------------------------------------------------------- */
[id|="Denominacion"] {
  width: 100%;
  height: fit-content;
  padding: 4px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid;
  border-bottom-color: darkgrey;
}
[id|="Radio"]:checked + .Box_Denominacion [id|="Denominacion"] {
  border-bottom-color: lightgrey;
}
[id|="Radio"]:hover + .Box_Denominacion [id|="Denominacion"],
[id|="Radio"]:focus + .Box_Denominacion [id|="Denominacion"] {
  border-bottom-color: black;
}
/* ------------------------------------------------------------------- */
.Texto_Radio {
  font-size: 28px;
  font-family: inherit;
  font-weight: bold;
  color: black;
  
}
.Texto_Radio::before {
  content: "$";
}

[id|="Radio"]:checked + .Box_Denominacion .Texto_Radio {
  color: black;
}
[id|="Radio"]:hover + .Box_Denominacion .Texto_Radio,
[id|="Radio"]:focus + .Box_Denominacion .Texto_Radio {
  color: white;
}
/* ------------------------------------------------------------------- */
[id|="Moneda"] {
  aspect-ratio: 1 / 1;
  width: 49%;
  display: inline;
  padding: 5px;
}
/* ------------------------------------------------------------------- */
