@charset "utf-8";

#contenedor {
  background: transparent;
  background-image: url(../img/liliana/lily200.webp),
    url(../img/liliana/lily210.webp),
    url(../img/liliana/marco1.webp),
    url(../img/liliana/marco2.webp),
    url(../img/liliana/marco3.webp),
    url(../img/liliana/marco4.webp),
    linear-gradient(135deg,
      transparent 0%,
      transparent 20%,
      #8d9bc3 20%,
      #8d9bc3 30%,
      transparent 30%,
      transparent 70%,
      #8d9bc3 70%,
      #8d9bc3 80%,
      transparent 80%,
      transparent 100%),
    linear-gradient(135deg, #bbbbbb 0%, #ebebeb 50%, #bbbbbb 100%);
  background-position: left center, right center, right 25% top, right 20% bottom, left 23% top 3px, left 23% bottom, left top, left top;
  background-size: contain, contain, 17%, 17%, 15%, 16%, 50px 50px, 100%;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, repeat, no-repeat;
}

header {
  border-color: #85395a;
  background-color: #85395a;

  &>h1 {
    color: white;
    text-shadow: 0px 0px 2px black;
  }
}

footer {
  border-color: #85395a;
  background-color: #85395a;
  background-image: url(../img/liliana/name.webp);
  background-position: right 20px center;
  background-repeat: no-repeat;
}

#Content_Main {
  border-color: #85395a;
}

[id|="Subtitles"] {
  color: #8c315c;
  text-shadow: 0px 0px 2px #fff;
}

#Items_Box-Input {
  background-color: #f97788;
  border-color: #85395a;

  &:is(:hover, :focus) {
    background-color: #f97788;
  }

  & #Input_Peso {
    &::placeholder {
      color: #8c315c;
      text-shadow: 0 0 2px white;
    }
  }

  & .Texto_Items-Input {
    color: white;
    text-shadow: 0px 0px 1px black;
  }
}

#Items_Box-Select {
  background-color: #f97788;
  border-color: #85395a;

  &:is(:hover, :focus) {
    background-color: #f896a3;
  }

  & .Texto_Items-Select {
    color: white;
    text-shadow: 0px 0px 1px black;
  }
}

#Items_Box-Answer {
  background-color: #f97788;
  border-color: #85395a;

  & .Texto_Items-Answer-1 {
    color: white;
    text-shadow: 0px 0px 1px black;
  }

  & .Texto_Items-Answer-2 {
    color: white;
    text-shadow: 0px 0px 1px black;
  }
}

#Denominacion_Modal {
  background-color: rgb(0, 0, 0, 0.8);
  background-image: url(../img/liliana/lily200a.webp);
  background-size: 22%;
  background-repeat: no-repeat;
  background-position: right bottom;
}

#Denominacion_Modal-Content {
  border-color: #8d9bc3;
  background-image: radial-gradient(white, #8d9bc3);
}

#Denominacion_Header {
  background-color: #8d9bc3;
  border-bottom-color: #8d9bc3;
}

#Header_Denominacion {
  text-shadow: 0px 0px 2px white;
  color: black;
}

#Close_Denominacion {
  text-shadow: 0px 0px 2px white;
  color: white;
  border-left-color: #8d9bc3;
  background-color: #8d9bc3;

  &:is(:hover, :focus) {
    color: rgb(255, 255, 255);
    border-left-color: #8d9bc3;
  }
}

.Box_Denominacion {
  background-color: #ebebeb;
  border-color: #85395a;

  [id|="Radio"]:checked+& {
    background-color: #85395a;
    border-color: black;
  }

  [id|="Radio"]:is(:hover, :focus)+& {
    background-color: #f97788;
    border-color: #85395a;
  }
}

.Texto_Radio {
  color: #8c315c;
  text-shadow: 0px 0px 1px white;

  [id|="Radio"]:checked+.Box_Denominacion & {
    color: white;
    text-shadow: 0px 0px 1px black;
  }

  [id|="Radio"]:is(:hover, :focus)+.Box_Denominacion & {
    color: white;
    text-shadow: 0px 0px 1px black;
  }
}
