@charset "utf-8";

* {
  --font-family: Arial;
}

#Items_Titles {
  text-shadow: 0px 0px 2px rgb(255, 255, 255);
  -webkit-text-stroke-color: rgb(13, 188, 121);
  -webkit-text-stroke-width: 0.5px;
}

#Denominacion_Header {
  box-shadow: inset 0px 0px 20px #0dbc79;
}

#Header_Denominacion {
  text-shadow: 0px 0px 2px rgb(255, 255, 255);
}

.Box_Denominacion {
  box-shadow: 0px 0px 5px 2px #e28450;

  [id|="Radio"]:checked + & {
    box-shadow: 0px 0px 5px 2px #8da2b5;
  }

  [id|="Radio"]:is(:hover, :focus) + & {
    box-shadow: 0px 0px 5px 2px #8b6fd1;
  }
}

.Texto_Radio {
  text-shadow: 0px 0px 1px white;

  [id|="Radio"]:checked + .Box_Denominacion & {
    text-shadow: 0px 0px 2px black;
  }

  [id|="Radio"]:is(:hover, :focus) + .Box_Denominacion & {
    text-shadow: 0px 0px 1px white;
  }
}
