@charset "utf-8";

* {
	--font-family: Arial;
}

body {
	background: #ebebeb;
}

.container {
	background-image: url("../img/theme-5/slamdunk.png"),
		url("../img/theme-5/shohoku.png"),
		url("../img/theme-5/shohoku2.png"),
		url("../img/theme-5/cancha_estadio.jpg");
	background-size: 25%, 27%, 25%, cover;
	background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
	background-position: right 10px top 10px, left bottom, right bottom, left top;
	align-content: stretch;
	justify-content: center;
	align-items: end;
}

#Content_Main {
	padding: 15px;
	row-gap: 20px;
	grid-template-rows: repeat(3, min-content);
	grid-template-areas:
		"A0 A0"
		"A1 A2"
		"A3 A3";

	& #Box_Item-0 {
		display: block;
	}
}

[class|=Box] {
	border-color: black;
	background-color: #ef8100;
	width: 600px;
	height: 600px;

	&[class$="Header"] {
		display: none;
	}

	&[class$="Main"] {
		border-top-width: 3px;
		border-bottom-width: 3px;
		padding-bottom: 15px;
		border-top-left-radius: 50%;
		border-top-right-radius: 50%;
		border-bottom-left-radius: 50%;
		border-bottom-right-radius: 50%;
		background-image: url("../img/theme-5/ball-textura.png"), url("../img/theme-5/ball1.png"), radial-gradient(#ffe30d, #F85400);
		background-size: auto, cover;
		background-repeat: repeat, no-repeat;
		background-position: center, center;
	}

	&[class$="Footer"] {
		display: none;
	}
}

[id|="Subtitles"] {
	color: #ffe30d;
	text-shadow: 0px 0px 2px black;

	&[id$="3"] {
		color: white;
		text-shadow: 0px 0px 2px black;
	}
}

[class|="Texto_Items"] {
	color: white;
	text-shadow: 0px 0px 2px black;

	&[class*="Answer"] {
		color: #9e0b0b;
		text-shadow: 0px 0px 2px #ffe30d;
	}
}

[id|="Items_Box"] {
	--background-color: #ea7b08;
	--border-color: #9e0b0b;
	background-color: var(--background-color);
	border-color: var(--border-color);

	&:is(:hover, :focus) {
		background-color: #ea7b08;
	}

	&[id$="Header"] {
		border-color: #ea7b08;
		background-color: #9e0b0b;
		color: white;
	}

	&[id$="Header"]::after {
		content: "Contador de monedas por peso";
	}
}

[id|="Items"] {
	#Items_Box-Input & {
		--border-color: #9e0b0b
	}

	&[id$="Select"] {
		&:is(:hover, :focus)::after {
			color: red;
		}
	}

	&[id*="Answer"] {
		--border-color: #9e0b0b;
		background-color: #FFEC5D;
	}
}

#Input_Peso {
	&::placeholder {
		color: #ffe30d;
		text-shadow: 0px 0px 2px #9e0b0b;
	}
}

#Items_Box-Answer {
	--border-color: #9e0b0b;
	border-color: var(--border-color);
}

#Denominacion_Modal-Content {
	border-color: #9e0b0b;
	background-color: #E12E2E;
	background-image: radial-gradient(#f39b0f, transparent);
}

#Denominacion_Header {
	background-color: #9e0b0b;
	border-bottom-color: #9e0b0b;
}

#Header_Denominacion {
	text-shadow: 0px 0px 2px black;
	color: white;
}

#Close_Denominacion {
	text-shadow: 0px 0px 2px white;
	color: black;
	border-left-color: #9e0b0b;

	&:is(:hover, :focus) {
		color: white;
		border-left-color: #9e0b0b;
	}
}

.Box_Denominacion {

	[id|="Radio"]:checked+& {
		background-color: #e75454;
		border-color: black;
	}

	[id|="Radio"]:is(:hover, :focus)+& {
		background-color: #E12E2E;
		border-color: black;
	}
}

[id|="Denominacion"] {

	[id|="Radio"]:checked+.Box_Denominacion & {
		border-bottom-color: black;
	}

	[id|="Radio"]:is(:hover, :focus)+.Box_Denominacion & {
		border-bottom-color: black;
	}
}

.Texto_Radio {
	color: black;

	[id|="Radio"]:checked+.Box_Denominacion & {
		color: black;
	}

	[id|="Radio"]:is(:hover, :focus)+.Box_Denominacion & {
		color: white;
	}
}