@charset "utf-8";

* {
  --font-family: Arial;
}

body {
  background: #ebebeb;
}

#contenedor {
  background-color: #f7bbd5;
  background-image: url("../img/theme-3/HK03.webp"),
    url("../img/theme-3/HK04.webp"), url("../img/theme-3/HK01.webp"),
    linear-gradient(#f7bbd5, #f7e3ec);
  background-size: auto 250px, auto 300px, auto 200px, cover;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: left bottom, right bottom, center bottom;
}

header {
  border-color: black;
  background-color: #f38db2;

  & > h1 {
    color: #8c315c;
    text-shadow: 0px 0px 2px white;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    background-image: url("../img/theme-3/HK02.webp");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
    height: 150px;
    top: calc(50% - 225px);
    z-index: 2;
    width: 150px;
    left: calc(50% - 360px);
    -ms-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
  }
}

footer {
  display: none;
}

#Content_Main {
  padding: 10px 10px 20px;
  border-bottom-width: 3px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  background-image: radial-gradient(#f8cde1, #f8aec5);
  border-color: black;
}

[id|="Subtitles"] {
  color: #8c315c;
  text-shadow: 0px 0px 2px #fff;
}

#Items_Box-Input {
  background-color: #f38db2;
  border-color: #e74d96;

  &:is(:hover, :focus) {
    background-color: #f38db2;
  }

  & #Input_Peso {
    &::placeholder {
      color: #8c315c;
      text-shadow: 0 0 2px white;
    }
  }

  & .Texto_Items-Input {
    color: white;
    text-shadow: 0px 0px 1px black;
  }
}

#Items_Box-Select {
  background-color: #f38db2;
  border-color: #e74d96;

  &:is(:hover, :focus) {
    background-color: #f38db2;
  }

  & .Texto_Items-Select {
    color: white;
    text-shadow: 0px 0px 1px black;
  }
}

#Items_Box-Answer {
  background-color: #f38db2;
  border-color: #e74d96;

  & .Texto_Items-Answer-1 {
    color: white;
    text-shadow: 0px 0px 1px black;
  }

  & .Texto_Items-Answer-2 {
    color: white;
    text-shadow: 0px 0px 1px black;
  }
}

#Denominacion_Modal-Content {
  border-color: #e74d96;
  background-color: #f8aec5;
  background-image: radial-gradient(#f8cde1, #f8aec5);
}

#Denominacion_Header {
  background-color: #f38db2;
  border-bottom-color: #e74d96;
}

#Header_Denominacion {
  text-shadow: 0px 0px 2px white;
  color: #8c315c;
}

#Close_Denominacion {
  text-shadow: 0px 0px 2px white;
  color: #8c315c;
  border-left-color: #e74d96;

  &:is(:hover, :focus) {
    color: rgb(255, 255, 255);
    border-left-color: #e74d96;
  }
}

.Box_Denominacion {
  border-color: #e74d96;
  background-color: #f38db2;

  [id|="Radio"]:checked + & {
    background-color: #ebebeb;
    border-color: #f38db2;
  }

  [id|="Radio"]:is(:hover, :focus) + & {
    background-color: #ec519f;
    border-color: indianred;
  }
}

.Texto_Radio {
  color: white;
  text-shadow: 0px 0px 1px black;

  [id|="Radio"]:checked + .Box_Denominacion & {
    color: #8c315c;
	text-shadow: 0px 0px 1px white;
  }

  [id|="Radio"]:is(:hover, :focus) + .Box_Denominacion & {
    color: white;
	text-shadow: 0px 0px 1px black;
  }
}
