@charset "utf-8";

* {
  --font-family: Arial;
}

body {
  background-color: #93adba;
}

#contenedor {
  background-image: url("../img/theme-7/inu03.png"),
    url("../img/theme-7/inu04.png"), url("../img/theme-7/inu01.png"),
    url("../img/theme-7/inulogo.png"), url("../img/theme-7/inu00.png"),
    radial-gradient(#bdd8df, #93adba);
  background-size: auto 250px, auto 200px, contain, auto 120px, contain, cover;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: left 50px bottom, left 40% bottom, right bottom, center top 20px, left top, left top;
}

#Items_Box-Input,
#Items_Box-Select {
  background-color: #ffcb85;
  border-color: #e28450;

  &:is(:hover, :focus) {
    background-color: #f7dfae;
    border-color: indianred;
  }
}

#Items_Box-Answer {
  background-color: #ffcb85;
  border-color: #e28450;
}
