@charset "utf-8";
/* CSS Document */
.Bg-Deg {
	background-color: #CC33FF;	
	background: linear-gradient(#8538c9, #f076e8);
}
.contenido {
	border-color: #FF0000 !important;
	background-color: #B90004;
	box-shadow: 0px 0px 20px 10px #990004;
	background-image: url("../img/Theme-2/rosa.png"), radial-gradient(#B90004, #990004);
	background-size: 100px, auto;
	background-repeat:space;
	background-position: left bottom;
	filter: brightness(90%) contrast(95%) saturate(100%);
}
.titulo {
	background-color: #FFD0FF;
	box-shadow:0px 0px 10px 2px #710408;
	border-color: #FF0000 !important;
	text-shadow: 0px 0px 2px #FF0000;
	color: #990004;
}
.texto2 {color: white;}
[class|="subtitulo"] {
	color: white;
	text-shadow: 0px 0px 2px #000;
}
[class|="Cnt-Select"] i{
	border-left-color:#710408 !important;
	border-bottom-color:#710408 !important;
}
[class|="Cnt-Select"]:hover i {
	border-left-color: indianred !important;
    border-bottom-color: indianred !important;
}
.Input-1, .Input-2, .Select-1 {
	background-color: #F9F;
	border-color: #FF0000 !important;
	box-shadow:5px 7px 10px 7px #710408;
	text-shadow: 0px 0px 2px #FFF;
}
#Input1::placeholder {
	color: white;
	text-shadow: 0px 0px 2px #000;
}
#Input2:read-only {
	background-color: #ff46a8;
}
 .Select-2 {
	 background-color: #8538c9;
	 border-color: #FF0000  !important;
	 color: white;
}
 .Select-2:hover {
	 background-color: #f076e8;
}
/* imagenes -------------- */
.Bg-Img {	
	background-image:url("../img/Theme-2/rosapetalos.png");
	background-repeat:repeat;
	background-position: 0% 0%, 0% 0%;
	animation: petalos 45s linear infinite;
}
.Img-R {
	background-image:url("../img/Theme-2/yoshi1.png"), url("../img/Theme-2/yoshi2.png");
	background-size: 200px, auto 375px;
	background-repeat:no-repeat;	
	background-position:right 40px, right bottom;
}
.Img-L {
	background-image:url("../img/Theme-2/pantera-rosa.png");
	background-size: auto 550px;
	background-repeat:no-repeat;
	background-position:left bottom;
}
@keyframes petalos {
	0% {background-position: 0% 0%;}
	100% {background-position: 100% 100%;}
}