@charset "utf-8";
/* CSS Document */
.Bg-Deg {
	background-color: #93775C;
	background: repeating-linear-gradient(#8C7151 0px,#896C4D 19px,black 20px, #896C4D 20px, #93775C 39px,black 40px, #93775C 40px,#93775C 59px,black 60px);
}
.texto2 {color: white;}
.contenido {
	border-color: #ea7b08 !important;
	background-color: #ef8100;
	box-shadow: 0px 0px 20px 10px #ffe30d;
	/*filter: brightness(90%) contrast(95%) saturate(100%);*/
	background-image: url("../img/Theme-6/ball1.png"), radial-gradient(#ffe30d, #F85400);
	background-size:750px;
	background-repeat: no-repeat;
	background-position: center;
}
.titulo {
	background-color: #9e0b0b;
	box-shadow:0px 0px 10px 2px #f39b0f;
	border-color: #ea7b08 !important;
	text-shadow: 0px 0px 2px #9e0b0b;
	color: white !important;
}
[class|="subtitulo"] {
	color: #ffe30d;
	text-shadow: 0px 0px 3px black;
}
.subtitulo-3 {color: white; text-shadow: 0px 0px 2px #000;}
[class|="Cnt-Select"] i,[class|="Cnt-Select"]:hover i {
	border-left-color: white !important;
    border-bottom-color: white !important;
}
.Input-1, .Input-2, .Select-1 {
	background-color: #ea7b08;
	border-color: #9e0b0b !important;
	text-shadow: 0px 0px 2px #9e0b0b;
	color: white;
	filter: brightness(90%) contrast(95%) saturate(100%);
}
#Input1::placeholder {
	color: #ffe30d;
	text-shadow: 0px 0px 2px #9e0b0b;
}
#Input2:read-only {
	background-color: #FFEC5D;
	color:#9e0b0b;
	text-shadow: 0px 0px 2px #ffe30d !important;
}
.Select-1:hover {
	background-color:#FF8900;
}
 .Select-2 {
	 background-color: #9e0b0b;
	 border-color: #ea7204 !important;
	 color: white;
}
.Select-2:hover {
	background-color:#ef8100;
}
/* imagenes -------------- */
.Bg-Img {
	background: url("../img/Theme-6/cancha_estadio.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	background-position:left top;
	background-attachment:fixed;
	
}
.Img-L {
	background-image: url("../img/Theme-6/shohoku.png");
	background-size:contain;
	background-repeat: no-repeat;
	background-position: left bottom;
}
.Img-R {
	background-image:url("../img/Theme-6/shohoku2.png");
	background-size:contain;
	background-repeat: no-repeat;
	background-position:right bottom;
}
.Img-T {
	background-image: url("../img/Theme-6/slamdunk.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position:center center;
}
.Img-B {
	background-image: url("../img/Theme-6/ball2.png");
	background-size: 100px;
	background-repeat: no-repeat;
	background-position: center center;
}
.Cnt-Img{
	background-image: url("../img/Theme-6/ball-textura.png");
	background-repeat: repeat;
	border-radius: 50px;
	opacity: 70%;
	
}