@charset "utf-8";
/* CSS Document */
.Bg-Deg {
	background-color: #f7bbd5;
	background-image: linear-gradient(#f7bbd5, #f7e3ec);
}
.contenido {
	border-color: #000 !important;
	background-color: #f8aec5;
	background-image:radial-gradient(#f8cde1, #f8aec5);
	border-width: 5px !important;
	top: calc(50% - 154px) !important;
	left: calc(50% - 354px) !important;
}
.titulo {
	background-color: #F38DB2;
	box-shadow:0px 0px 10px 2px #E74D96;
	border-color: #E74D96 !important;
	text-shadow: 0px 0px 2px white;
	color: #8C315C;
}
[class|="subtitulo"] {
	color: #8C315C;
	text-shadow: 0px 0px 2px #FFF;
}
[class|="Cnt-Select"] i{
	border-left-color: white !important;
    border-bottom-color: white !important;
}
[class|="Cnt-Select"]:hover i {
	border-left-color: indianred !important;
    border-bottom-color: indianred !important;
}
.Input-1, .Input-2, .Select-1 {
	background-color: #F38DB2;
	border-color: #E74D96 !important;
	box-shadow:5px 7px 10px 7px #E74D96;
	text-shadow: 0px 0px 2px #8C315C;
	color: white;
}
#Input1::placeholder {
	color: #8C315C;
	text-shadow: 0px 0px 2px #FFF;
}
#Input2:read-only {
	background-color: #F38DB2;
	border-color: #E74D96;
	box-shadow:5px 7px 10px 7px #E74D96;
}
 .Select-2 {
	 background-color: #EC519F;
	 color: white;
}
/* imagenes -------------- */
.Img-L {
	background-image: url("../img/Theme-7/HK03.png");
	background-size:auto 250px;
	background-repeat:no-repeat;
	background-position: left bottom;
}
.Img-R {
	background-image: url("../img/Theme-7/HK04.png");
	background-size:contain;
	background-repeat:no-repeat;
	background-position: right bottom;
}
.Img-B {
	background-image: url("../img/Theme-7/HK01.png");
	background-size:contain;
	background-repeat:no-repeat;
	background-position: center bottom;
}
.Img-T {
	background-image: url("../img/Theme-7/HK02.png");
	background-size:contain;
	background-repeat:no-repeat;
	background-position: center bottom;
	height: 200px !important;
	top: calc(50% - 250px) !important;
	z-index: 2 !important;
	/*background-color: aqua;*/
	width: 200px !important;
	left: calc(50% - 400px) !important;
	-ms-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
}