@charset "utf-8";
/* CSS Document */
.Bg-Deg {
	background-color: #24303c;
	background: linear-gradient(#24303c, #5F7D9C);
}
.Cnt-Theme .texto2 {color: white;}
.contenido {
	border-color: #1f53c5 !important;
	background-color: #2d67a0;
	background-image:radial-gradient(#518FCE, #2d67a0);	
	box-shadow: 0px 0px 20px 10px #5fa7ee;
}
.titulo {
	background-color: #a3d0fd;
	box-shadow:0px 0px 10px 2px #a3d0fd;
	border-color: #1f53c5 !important;
	text-shadow: 0px 0px 2px white;
	color: black;
}
[class|="subtitulo"] {
	color: white;
	text-shadow: 0px 0px 2px #000;
}
[class|="Cnt-Select"] i{
	border-left-color: white !important;
    border-bottom-color: white !important;
}
[class|="Cnt-Select"]:hover i {
	border-left-color:#B8DAFD !important;
	border-bottom-color:#B8DAFD !important;
}
.Input-1, .Input-2, .Select-1 {
	background-color: rgba(51,204,204,1.00);
	border-color: #1f53c5 !important;
	box-shadow:5px 7px 10px 7px #24303c;
	text-shadow: 0px 0px 2px #FFF;
}
#Input1::placeholder {
	color: white;
	text-shadow: 0px 0px 2px #000;
}
#Input2:read-only {
	background-color: rgba(102,204,102,1.00);
}
 .Select-2 {
	 background-color: #24303c;
	 color: white;
}
 .Select-2:hover {
	 background-color: #2d67a0;
	 color: white;
}
#Img-L {
	background-image: url(../img/Theme-0/640x360_12_2.png);
	background-size: 100% auto;
	background-repeat:no-repeat;
	background-position:left top;
}
#Img-R {
	background-image: url(../img/Theme-0/Teleton_10y11_Nov_H.png);
	background-size: 65% auto;
	background-repeat:no-repeat;
	background-position:right bottom;
}
