@charset "utf-8";

/* ---Configuracion Inicial-------------------------------------------------- */
:root {
    --var-fondo-color: #ebebeb;
    --grid-fondo-color: url(../../resources/img/theme0-2025/fireworks_realistic_background.jpg) left top/100% 100% no-repeat;
    --grid-content-background: url(../../resources/img/theme0-2025/pngwing_com.png) left bottom/120px no-repeat, rgba(0, 0, 0, 0.7) ;
    --grid-content-border-color: rgba(255, 255, 255, .5);
    --grid-content-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.5);

    --Items-Grid-background-color:rgba(255, 255, 255, .5);
    --Items-Grid-color: black;
    --Items-Grid-text-shadow: 0px 0px 2px grey;
    --Items-Grid-box-shadow: 5px 5px 8px 5px rgba(255, 255, 255, 0.2);

    --Items-background-color:rgba(255, 255, 255, 0.3);
    --Items-2-background-color:rgba(255, 255, 255, 0.3);
    --Items-Background-color-Active:#767676;
    --Items-Background-color-Hover: rgb(180, 180, 180);
    --Items-Option-background-color: rgb(206, 206, 206);
    --Items-Box-Option-background-color:rgb(37, 37, 37);
    --Items-Select-Background-color-Hover:rgba(255, 255, 255, 0.5);
    --Items-color-Hover: chocolate;
    --Title-Main-background-color: rgba(255, 255, 255, 0.7);
    --Title-Main-box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.2);
    --Title-Main-border-color: white;
    --Title-Main-color: black;
    --Title-Main-text-shadow: 0px 0px 2px white;


    /* ---------------------------------------------------------------------- */
}

/* -------------------------------------------------------------------------- */
#Fieldset-Content {
    animation-name: luces;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}
@keyframes luces {
    0%   {box-shadow:0px 0px 20px 10px red;}
    50%  {box-shadow:0px 0px 20px 10px yellow;}
    100% {box-shadow:0px 0px 20px 10px white;}
  }
