@charset "utf-8";

:root {
    /*---------------------------------------------------------------*/
    --font-size: 28px;
    --font-family: Arial;
    --body-background-color: #ebebeb;
    --Box_Content_border-radius: 50px;
    --Items-border-radius: 12px;
    --Items_background-color: #4dcaff;
    --Items_Hover_background-color: rgb(59, 181, 233);
    --Items_Active_background-color: rgb(38, 128, 237);
    --Items_Active_Hover_background-color: rgb(14, 95, 194);
    --Items_Border-Color: #898eef;
    --Items_Border-Width: 1px;
    --Text-color: white;
    --Text-text-shadow-color: black;
    --Text-w-stroke-color: rgba(0, 0, 0, 0.25);
}

#Container_Grid {
    background: transparent;
    grid-template-rows: min-content minmax(190px, 1fr) 260px minmax(190px, 1fr); /*  220-260 */
}

.Radious-Content {
    --Content_border-radius: var(--Box_Content_border-radius);
}

#Section_Content {
    --Border_Width: 2px;
    --Border_Color: #ff9e1e;
    --Box-Shadow: 0px 0px 20px 10px #eab062;
    --Background-Color: #ffbf6a;
    --Background-Image: radial-gradient(#fff865, transparent);
    padding: 56px 18px 20px; /* 10 18 26 */
}

[class|="Items_Texto"] {
    --Text_Color: var(--Text-color);
    --Text-Shadow_Color: var(--Text-text-shadow-color);
    --Text-Stroke-Color: var(--Text-w-stroke-color);
}

.Items_Texto-1 {
    --Text_Color: black;
    --Text-Shadow_Color: gray;
    --Text-Stroke-Color: white;
}
#Items_Box-Input,
#Items_Box-Select-1,
#Items_Box-Answer {
    box-shadow: 5px 7px 10px 7px #eab062;
}
#Input_Peso,
#Items-Unidad,
#Items-Select-1,
#Items_Box_Menu-Denominacion,
#Items-Answer-1,
#Items-Answer-2 {
    --Border_Width: var(--Items_Border-Width);
    --Border_Color: var(--Items_Border-Color);
}

#Input_Peso,
#Items-Unidad,
#Checkbox_Menu-Denominacion:checked+#Items-Select-1,
#Items_Box_Menu-Denominacion,
[id|="Items_Menu-Denominacion"] {
    --Background-Color: var(--Items_background-color);
}

#Checkbox_Menu-Denominacion:checked+#Items-Select-1:hover,
[id|="Items_Menu-Denominacion"]:hover,
#Input_Peso:hover {
    --Background-Color: var(--Items_Hover_background-color);
}

#Items-Select-1,
[id|="Radio"]:checked+[id|="Items_Menu-Denominacion"] {
    --Background-Color: var(--Items_Active_background-color);
}

#Items-Select-1:hover,
[id|="Radio"]:checked+[id|="Items_Menu-Denominacion"]:hover {
    --Background-Color: var(--Items_Active_Hover_background-color);
}

[id|="Items-Answer"] {
    background-color: #a7aaf9;
}

#Input_Peso::placeholder {
    --placeholder-color: rgb(128, 128, 128);
    --placeholder-text-shadow-color: white;
}

#Input_Peso:out-of-range {
    --out-of-range-background-color: crimson;
    --out-of-range-color: yellow;
    --out-of-range-text-shadow-color: black;
    --out-of-range-outline: 2px solid tomato;
}

#Nota_Alerta {
    --Background-Color: #ebebeb;
    --border: 2px solid black;
}

#Text_Select-1::after {
    color: red;
    text-shadow: 0 0 2px white;
}

#Checkbox_Menu-Denominacion:checked+#Items-Select-1>#Text_Select-1::after {
    color: white;
    text-shadow: 0 0 2px black;
}

#Checkbox_Menu-Denominacion:checked+#Items-Select-1:hover>#Text_Select-1::after {
    color: gainsboro;
    text-shadow: 0 0 2px white;
}

#Items-Titles-1 {
    display: none;
    background-color: #0df89e;
    box-shadow: inset 0 0 10px 2px #0dbc79;
}

 #Items-Titles-2 {
    display: block;
    background-color: #0df89e;
	box-shadow:0px 0px 10px 2px #0dbc79;
	border-color: #0dbc79;
}

[class|=Items_Texto-Titles] {
    text-shadow: 0px 0px 2px white;
	color: #2C8121;
}
.Separador,
.Separador1,
.Separador2 {
    --Border-Width: 1px;
    --Border_Color: #898eef;
}
/* ------------------------------------------------------------------- */
@media screen and (min-width: 1100px) {
    .Items_Texto-Subtitles::after {
        content: ":";
    }
}