@charset "utf-8";
/* ---Configuracion Inicial-------------------------------------------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html {font-size: 28px;}
body {
    background-color: var(--fondo-color, #ebebeb);
    
}
/* -------------------------------------------------------------------------- */
#Container-Grid {
    display: grid;
    width: 100vw;
    height: 100vh;
    background: var(--grid-fondo-color, transparent);
    gap: var(--grid-fondo-gap, 10px);
    grid-template-columns: var(--grid-fondo-template-columns, minmax(250px, 1fr) auto minmax(250px, 1fr));
    grid-template-rows: var(--grid-fondo-template-rows, minmax(150px, 1fr) auto minmax(150px, 1fr));
    grid-template-areas:var(--grid-fondo-template-areas, "Side-1 Side-2 Side-3" "Side-1 Contenido Side-3" "Side-1 Side-4 Side-3");
}
#Section-Grid1{ grid-area: var(--section-grid-1-area, Header);}
#Section-Grid2{ grid-area: var(--section-grid-2-area, Side-2);}
#Section-Grid3{ grid-area: var(--section-grid-3-area, Side-1);}
#Section-Grid4{ grid-area: var(--section-grid-4-area, Contenido);}
#Section-Grid5{ grid-area: var(--section-grid-5-area, Side-3);}
#Section-Grid6{ grid-area: var(--section-grid-6-area, Side-4);}
#Section-Grid7{ grid-area: var(--section-grid-7-area, Menu-1);}
#Section-Grid8{ grid-area: var(--section-grid-8-area, Footer);}
#Section-Grid1, #Section-Grid7, #Section-Grid8 {
    display:var(--section-grid-8-display, none);
    z-index: var(--section-grid-8-z-index, 0);
}
#Section-Grid2, #Section-Grid3, #Section-Grid4,
#Section-Grid5, #Section-Grid6 {
    display:var(--section-grid-8-display, block);
    z-index: var(--section-grid-8-z-index, 0);
}

/* -------------------------------------------------------------------------- */
#Fieldset-Content {
    display: grid;
    width: fit-content;
    height: auto;
    margin: 0;
    border-width: var(--grid-content-border-width, 2px);
    border-style: var(--grid-content-border-style, solid);
    border-color: var(--grid-content-border-color, #ff9e1e);
    border-radius: var(--grid-content-border-radius, 50px);
    -webkit-border-radius: var(--grid-content-border-radius, 50px);
    -moz-border-radius: var(--grid-content-border-radius, 50px);
    -ms-border-radius: var(--grid-content-border-radius, 50px);
    -o-border-radius: var(--grid-content-border-radius, 50px);
    box-shadow: var(--grid-content-box-shadow, 0px 0px 20px 10px #eab062);
    background: var(--grid-content-background, #ffbf6a radial-gradient(#fff865, #ffbf6a));
    justify-items: center;
    align-items: center;
    column-gap:var(--grid-content-column-gap, 50px);
    row-gap: var(--grid-content-row-gap, 0px);
    padding: var(--grid-content-padding, 25px 20px);
    grid-template-columns: var(--grid-content-template-columns, repeat(2, auto));
    grid-template-rows: var(--grid-content-template-rows, repeat(5, auto));
    grid-template-areas: var(--grid-content-template-areas, "Title Title" "Subtitle1 Subtitle2" "Item1 Item2" "Subtitle3 Subtitle3" "Item3 Item3");
}
#Legend-Content {
    display: var(--legend-content-display, none);
    text-align: center;
}
#Box-Item-1{ 
    grid-area: var(--Box-Item-1-area, Title);
    display:var(--Box-Item-1-display, block);
    margin-bottom: var(--Box-Item-1-margin-bottom, 20px);
}
#Box-Item-2{grid-area: var(--Box-Item-2-area, Subtitle1);}
#Box-Item-3{grid-area: var(--Box-Item-3-area, Subtitle2);}
#Box-Item-4{grid-area: var(--Box-Item-4-area, Item1);}
#Box-Item-5{grid-area: var(--Box-Item-5-area, Item2);}
#Box-Item-6{ 
    grid-area: var(--Box-Item-6-area, Subtitle3);
    margin-top: var(--Box-Item-6-margin-top, 20px);
}
#Box-Item-7{grid-area: var(--Box-Item-7-area, Item3);}
/* -------------------------------------------------------------------------- */
.Box-Title-Main {
    width: fit-content;
    height: auto;
    padding: 0px 10px 4px;
    border-radius: var(--Box-Items-border-radius, 12px);
    -webkit-border-radius: var(--Box-Items-border-radius, 12px);
    -moz-border-radius: var(--Box-Items-border-radius, 12px);
    -ms-border-radius: var(--Box-Items-border-radius, 12px);
    -o-border-radius: var(--Box-Items-border-radius, 12px);
    background-color: var(--Title-Main-background-color, #0df89e);
    box-shadow: var(--Title-Main-box-shadow, 0px 0px 10px 2px #0dbc79);
    border-color: var(--Title-Main-border-color, #0dbc79);
    font-weight: var(--Title-Mfont-weight, bold);
}
.Title-Main{
    color: var(--Title-Main-color, #2C8121);
    text-shadow: var(--Title-Main-text-shadow, 0px 0px 2px white);
}
/* -------------------------------------------------------------------------- */
.Box-Subtitles {
    padding: var(--Subtitles-padding, 0px 4px 4px);
    width: fit-content;
    height: min-content;
    text-align: center;
}
.Subtitles {
    color: var(--Subtitles-color, white);
    text-shadow: var(--Subtitles-text-shadow, 0px 0px 2px black);
    -webkit-text-stroke-color: var(--Subtitles-text-stroke-color, rgba(0, 0, 0, 0.25));
    -webkit-text-stroke-width: var(--Subtitles-text-stroke-width, 0.5px);
    font-weight: var(--Subtitles-font-weight, bold);
    font-size: 1rem;
}
/* -------------------------------------------------------------------------- */
#Items-Box1,
#Items-Box2,
#Items-Box3{
    position: relative;
    width: 250px;
    height: fit-content;
    box-shadow: var(--Items-Grid-box-shadow, 5px 5px 8px 5px #eab062);
    border-radius: var(--Box-Items-border-radius, 12px);
    -webkit-border-radius: var(--Box-Items-border-radius, 12px);
    -moz-border-radius: var(--Box-Items-border-radius, 12px);
    -ms-border-radius: var(--Box-Items-border-radius, 12px);
    -o-border-radius: var(--Box-Items-border-radius, 12px);
}
.Box-Items-Grid{
    display: grid;
    grid-template-rows: min-content;
    padding: 1px;
    border-radius: var(--Box-Items-border-radius, 12px);
    -webkit-border-radius: var(--Box-Items-border-radius, 12px);
    -moz-border-radius: var(--Box-Items-border-radius, 12px);
    -ms-border-radius: var(--Box-Items-border-radius, 12px);
    -o-border-radius: var(--Box-Items-border-radius, 12px);
}
.Items {
    background: var(--Items-background-color, #4dcaff);
    padding: 3px;
}
#Box-Input {
    background:var(--Items-Grid-background-color, #9a9eff);
    grid-template-columns: 1fr 32px;
    gap: 1px;
    color: var(--Items-Grid-color, white);
    text-shadow: var(--Items-Grid-text-shadow, 0px 0px 2px black);

}
#Box-Select {
    cursor: pointer;
    background: var(--Items-Grid-background-color, #9a9eff);
    grid-template-columns: 32px 1fr 32px;
    gap: 1px;
    color: var(--Items-Grid-color, white);
    text-shadow: var(--Items-Grid-text-shadow, 0px 0px 2px black);

}
#Box-Answer{
    padding: 1px;
    background: var(--Items-Grid-background-color, #9a9eff);
    border-radius: var(--Box-Items-border-radius, 12px);
    -webkit-border-radius: var(--Box-Items-border-radius, 12px);
    -moz-border-radius: var(--Box-Items-border-radius, 12px);
    -ms-border-radius: var(--Box-Items-border-radius, 12px);
    -o-border-radius: var(--Box-Items-border-radius, 12px);
}
/* -------------------------------------------------------------------------- */
#Input-Number{
    -moz-appearance: textfield;
    appearance: none;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-align: center;
    background-color: transparent;
    font-size: 1rem;
    color: var(--Items-Grid-color, white);
    text-shadow: var(--Items-Grid-text-shadow, 0px 0px 2px black);
}
#Input-Number::-webkit-outer-spin-button,
#Input-Number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#Input-Number::placeholder{
    color: grey;
}
#Ipt-Txt{text-align: center;}
/* -------------------------------------------------------------------------- */
.Radious-L{
    border-radius: var( --Items-border-radius-L, 11px 0 0 11px);
    -webkit-border-radius: var( --Items-border-radius-L, 11px 0 0 11px);
    -moz-border-radius: var( --Items-border-radius-L, 11px 0 0 11px);
    -ms-border-radius: var( --Items-border-radius-L, 11px 0 0 11px);
    -o-border-radius: var( --Items-border-radius-L, 11px 0 0 11px);
}
.Radious-R{
    border-radius: var( --Items-border-radius-R, 0 11px 11px 0);
    -webkit-border-radius: var( --Items-border-radius-R, 0 11px 11px 0);
    -moz-border-radius: var( --Items-border-radius-R, 0 11px 11px 0);
    -ms-border-radius: var( --Items-border-radius-R, 0 11px 11px 0);
    -o-border-radius: var( --Items-border-radius-R, 0 11px 11px 0);
}
.Radious-T{
    border-radius: var( --Items-border-radius-T, 11px 11px 0 0);
    -webkit-border-radius: var( --Items-border-radius-T, 11px 11px 0 0);
    -moz-border-radius: var( --Items-border-radius-T, 11px 11px 0 0);
    -ms-border-radius: var( --Items-border-radius-T, 11px 11px 0 0);
    -o-border-radius: var( --Items-border-radius-T, 11px 11px 0 0);
}
.Radious-B{
    border-radius: var( --Items-border-radius-B, 0 0 11px 11px);
    -webkit-border-radius: var( --Items-border-radius-B, 0 0 11px 11px);
    -moz-border-radius: var( --Items-border-radius-B, 0 0 11px 11px);
    -ms-border-radius: var( --Items-border-radius-B, 0 0 11px 11px);
    -o-border-radius: var( --Items-border-radius-B, 0 0 11px 11px);
}
.Radious-LT{
    border-radius: var( --Items-border-radius-LT, 11px 0 0 0);
    -webkit-border-radius: var( --Items-border-radius-LT, 11px 0 0 0);
    -moz-border-radius: var( --Items-border-radius-LT, 11px 0 0 0);
    -ms-border-radius: var( --Items-border-radius-LT, 11px 0 0 0);
    -o-border-radius: var( --Items-border-radius-LT, 11px 0 0 0);
}
.Radious-RT{
    border-radius: var( --Items-border-radius-RT, 0 11px 0 0);
    -webkit-border-radius: var( --Items-border-radius-RT, 0 11px 0 0);
    -moz-border-radius: var( --Items-border-radius-RT, 0 11px 0 0);
    -ms-border-radius: var( --Items-border-radius-RT, 0 11px 0 0);
    -o-border-radius: var( --Items-border-radius-RT, 0 11px 0 0);
}
.Radious-RB{
    border-radius: var( --Items-border-radius-RB, 0 0 11px 0);
    -webkit-border-radius: var( --Items-border-radius-RB, 0 0 11px 0);
    -moz-border-radius: var( --Items-border-radius-RB, 0 0 11px 0);
    -ms-border-radius: var( --Items-border-radius-RB, 0 0 11px 0);
    -o-border-radius: var( --Items-border-radius-RB, 0 0 11px 0);
}
.Radious-LB{
    border-radius: var( --Items-border-radius-LB, 0 0 0 11px);
    -webkit-border-radius: var( --Items-border-radius-LB, 0 0 0 11px);
    -moz-border-radius: var( --Items-border-radius-LB, 0 0 0 11px);
    -ms-border-radius: var( --Items-border-radius-LB, 0 0 0 11px);
    -o-border-radius: var( --Items-border-radius-LB, 0 0 0 11px);
}
/* -------------------------------------------------------------------------- */
#Select-Icon{text-align: right;}
#Select, #Select-Arrow {text-align: center;}
#Arrow{
    font-size: 0.6em;
    vertical-align:middle;
    transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
}
#Box-Select:hover #Arrow {
    vertical-align:baseline;
    color:var(--Items-color-Hover,#0dbc79);
}
#Box-Select:hover > .Items {
    background: var(--Items-Select-Background-color-Hover,rgb(38, 128, 237));
}
.small-sup {
    vertical-align:top;
    font-size: 0.6em;
}
#Input-Text{display: none;}
/* -------------------------------------------------------------------------- */
#Answer-Text{
    width: auto;
    padding: 3px;
    text-align: center;
    background: var(--Items-2-background-color, #a7aaf9);
    color: var(--Items-Grid-color, white);
    border-radius: var( --Items-border-radius, 11px);
    -webkit-border-radius: var( --Items-border-radius, 11px);
    -moz-border-radius: var( --Items-border-radius, 11px);
    -ms-border-radius: var( --Items-border-radius, 11px);
    -o-border-radius: var( --Items-border-radius, 11px);
    text-shadow: var(--Items-Grid-text-shadow, 0px 0px 2px black);
}
#Answer-Text::before{
    content: "$";
}
/* -------------------------------------------------------------------------- */
#Option-Box{
    position: absolute;
    left: 0;
    top: 45px;
    z-index: 1;
}
#Box-Option{
    width: 250px;
    height: min-content;
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.1);
}
.Box-Option {
    display: flex;
    flex-direction: column;
    padding: 1px;
    gap: 1px;
    background:var(--Items-Box-Option-background-color, #9a9eff);
    border-radius: var(--Box-Items-border-radius, 12px);
}
#Box-Option > label::before{content: "$";}
.Option-On{display: block;}
.Option-Off,
.radio-off{display: none;}
.Option{
    padding: 3px;
    background:var(--Items-Option-background-color, #4dcaff);
    text-align: center;
    color: var(--Items-Grid-color, white);
    text-shadow: 0px 0px 2px black;
}
.radio-off:checked + .Option {
    background-color:var(--Items-Background-color-Active,rgb(38, 128, 237));
}
.Option:hover {
    background-color:var(--Items-Background-color-Hover, rgba(0, 0, 0, 0.1));
}
/* -------------------------------------------------------------------------- */
#Box-VisualMoneda{
    position: absolute;
    left: 255px;
    top: -52px;
    width: fit-content;
    height: fit-content;
    padding: 1px;
    background:var(--Items-Box-Option-background-color, #9a9eff);
    border-radius: var(--Box-Items-border-radius, 12px);
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.1);
    z-index: 1;
}
#VisualMoneda{
    display: block;
    width: fit-content;
    height: fit-content;
    padding: 2px;
    margin: 0;
    background:var(--Items-Option-background-color, #4dcaff);
    line-height: 0;
    border-radius: var( --Items-border-radius, 11px);
}
